.topBar {
    background-color: rgb(75, 75, 75);
}

.titlePage h1 {
    font-family: "Caveat", cursive;
    color: ivory;
    padding-left: 88px;
    font-size: 39px;
}

.socialMedia img {
    height: 30px;
    margin-top: 12px;
    padding-left: 10px;
}

.welcomeContain {
    position: relative;
    background-color: pink;
}

.welCome {
    position: absolute;
    padding-top: 60px;
    left: 166px;
}

.welCome h3 {
    padding-bottom: 19px;
    color: white;
    font-size: 25px;
}

.welCome p {
    font-size: 18px;
    color: white;
    padding-bottom: 32px;
}

.welCome button {
    background-color: grey;
    color: white;
    padding: 3px;
}

.lapTop img {
    height: 451px;
    padding-left: 685px;
}

.paraContain {
    background-color: #f5f3f3;
}

.paraContain h3 {
    color: grey;
    font-size: 21px;
    padding-top: 35px;
    padding-left: 22px;
}

.paraContain p {
    color: grey;
    font-size: 15px;
    padding-left: 22px;
}

.productS h3 {
    color: rgb(43, 43, 43);
    font-size: 21px;
    padding-top: 35px;
    padding-bottom: 55px;
}

.imageS {
    padding-top: 120px;
}

.clientSay h3 {
    color: rgb(42, 41, 41);
    font-size: 21px;
    padding-top: 35px;
    padding-bottom: 50px;
}

.bottomContain img {
    height: 290px;
    padding-bottom: 38px;
}

.endContain {
    background-color: rgb(75, 75, 75);
}

.copyRight p {
    color: white;
    font-size: 13px;
    padding-left: 9px;
    padding-top: 11px;
}

.socialMediaEnd img {
    height: 30px;
    margin-top: 10px;
    padding-left: 10px;
}

@media (max-width: 1200px) {
    .lapTop img {
        padding-left: 494px;
    }

    .productS h3 {
        padding-left: 28px;
    }

    .bottomContain img {
        height: 243px;
        padding-bottom: 32px;
    }

    .clientSay h3 {
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .titlePage h1 {
        padding-left: 12px;
        font-size: 30px;
    }

    .socialMedia img {
        height: 22px;
        padding-left: 2px;
    }

    .welcomeContain {
        padding-bottom: 89px;
    }

    .welCome {
        margin-left: -126px;
        padding-top: 36px;
    }

    .welCome p {
        font-size: 14px;
    }

    .lapTop img {
        padding-left: 246px;
        height: 297px;
    }

    .paraContain h3 {
        font-size: 17px;
    }

    .paraContain p {
        font-size: 11px;
    }

    .productS h3 {
        font-size: 17px;
        padding-bottom: 16px;
    }

    .imageS {
        padding-top: 100px;
    }

    .clientSay h3 {
        font-size: 17px;
    }

    .clientSay p {
        font-size: 11px;
    }

    .bottomContain img {
        height: 147px;
    }

    .copyRight p {
        font-size: 10px;
    }

    .socialMediaEnd img {
        height: 20px;
        padding-left: 4px;
    }
}